.places {
  margin: 64px auto 0;
  max-width: 100%;
}

@media (min-width: 321px) {
  .places {
    margin: 88px auto 0;
    max-width: calc(100% - 48px);
  }
}

@media (min-width: 769px) {
  .places {
    margin: 92px auto 0;
    max-width: calc(100% - 96px);
  }
}

@media (min-width: 1025px) {
  .places {
    margin: 92px auto 0;
    max-width: calc(100% - 296px);
  }
}